<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
         <!-- si entro por login busca index.html con esa action -->
        <form th:action="@{/registro}" method="get">
            <div><label> User Name : <input type="text" name="user"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
             <div><label> Email: <input type="email" name="email"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>